<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="First Test">
        <classes>
           <class name="Task1"></class>
        </classes>
    </test>
    <test name="Second Test">
        <classes>
            <class name="Task2"></class>
        </classes>
    </test>
    <test name="The Third Test">
        <classes>
            <class name="Task3"></class>
        </classes>
    </test>
</suite>